:root{
    --red-gray: #1f1b1b;
    --light-red-gray: #383232;
    --mid-red: #5c2925;
    --dark-red: #753e39;
}

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

#homeBody {
    margin: 0;
    background-color: lightgray;
}

#loginBody {
    margin: 0;
    background-image: url('../src/record.jpg');
    background-size: cover;
}

nav {
    background-color: var(--red-gray);
    border-bottom: 20px solid var(--light-red-gray);
    position: fixed;
    top: 0;
    width: 100%;
}
  
nav > ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navLink {
    float:left;
}
  
.navLink a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.navLink a:hover, .navLink a:active {
    background-color: #fff;
    transition: background-color 0.2s ease-in;
    color: var(--red-gray);
}

#signOut, #user {
    float: right;
    border-left: 2px solid var(--dark-red);
}

#homeTitle {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 2em;
}

#homeTitle > span {
    color: var(--dark-red);
}

#homeSubTitle, #introContent > h5 {
    margin-left: 50px;
}

#introContent > h5 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
}

#loginPageTitle {
    text-align: center;
    margin-top: 100px;
}

#introContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 500px;
    background-color: #fff;
}

#introContainer > img {
    max-height: 400px;
    justify-self: end;
}

#loginContainer {
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 350px;
}

#loginFormContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#loginFormContainer > section {
    grid-column-start: 2;
}

#regLoginBtnContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 2px 2px 5px gray;
}

#regBtn, #loginBtn {
    padding: 20px;
    flex-basis: 50%;
    background-color: #fff;
    border: 0;
    font-size: 1.2em;
}

#regBtn:hover, #loginBtn:hover {
    background-color: var(--dark-red);
    color: #fff;
    cursor: pointer;
}

#regBtn:active, #loginBtn:active {
    background-color: var(--light-red-gray);
    color: #fff;
    cursor: pointer;
}

#regBtn{
    border-right: 2px solid var(--dark-red);
}

.formTitle {
    text-align: center;
    margin-top: 50px;
}

#loginTitle, #loginForm{
    display: none;
}

form > input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#submitRegForm, #submitLoginForm {
    background-color: var(--dark-red);
    color: #fff;
    border: 0;
    font-size: 1.2em;
}

#submitRegForm:hover, #submitLoginForm:hover {
    background-color: var(--mid-red);
    cursor: pointer;
}

#submitRegForm:active, #submitLoginForm:active {
    background-color: var(--light-red-gray);
    cursor: pointer;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--red-gray);
    color: #fff;
}